In [3]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt


df = pd.read_csv("food_truck_data.txt")
df.head(10)

   Population   Profit
0      6.1101  17.5920
1      5.5277   9.1302
2      8.5186  13.6620
3      7.0032  11.8540
4      5.8598   6.8233
5      8.3829  11.8860
6      7.4764   4.3483
7      8.5781  12.0000
8      6.4862   6.5987
9      5.0546   3.8166

In [5]:
df.shape

(97, 2)

In [43]:
class LinearRegression:
    def __init__(self, lr=0.0001, n_iters=1000):
        self.lr = lr
        self.n_iters = n_iters
        self.theta = None

    def fit(self, X, y):
        m, n = X.shape
        self.theta = np.zeros((n,1))
        self.grad_desc(X, y)

    def predict(self, X):
        return np.dot(X, self.theta)

    def grad_desc(self, X, y):
        m, n = X.shape
        cost = []
        for i in range(self.n_iters):
            y_preds = self.predict(X)
            error = y_preds - y
            grad = (2/m) * np.dot(X.transpose(), error)
            self.theta -= self.lr * grad
            cost.append(self.compute_cost(X, y, self.theta))
        return self.theta

    def compute_cost(self, X, y, theta):
        m = len(y)
        J = np.sum((X.dot(theta) - y) ** 2) / (2 * m)
        return J

In [16]:
X = df[['Population']].values 
y = df['Profit'].values.reshape(-1, 1)
model= LinearRegression()
model.fit(X,y)

pred_val = np.array([6.0])

predicted_label=model.predict(pred_val)
predicted_label

array([4.8151611])

# New dataset

In [67]:
df2= pd.read_csv("tvmarketing.csv")

In [78]:
df2.tail()

        TV  Sales
195   38.2    7.6
196   94.2    9.7
197  177.0   12.8
198  283.6   25.5
199  232.1   13.4

In [71]:
X= df2[['TV']].values
y= df2['Sales'].values.reshape(-1,1)

In [77]:
from sklearn.preprocessing import StandardScaler

scaler= StandardScaler()

X_s = scaler.fit_transform(X)
model = LinearRegression()

model.fit(X_s,y)

pred = np.array([230.0]).reshape(-1, 1)

# Scale the new data using the same scaler
pred_scaled = scaler.transform(pred)

# Make prediction
prediction = model.predict(pred_scaled)

# Inverse transform the prediction to get the original scale
final_pred = scaler.inverse_transform(prediction)

print(final_pred)

[[208.26636966]]

In [ ]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

mae = mean_absolute_error(y_test, y_pred)

mse = mean_squared_error(y_test, y_pred)

r2 = r2_score(y_test, y_pred)

print("Mean Absolute Error (MAE):", mae)
print("Mean Squared Error (MSE):", mse)
print("R-squared (R2) Score:", r2)